<html>
  <head>
    <title>Hummingbird Covid Service</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='CSS/StyleSheet.css') }}"
    />
    <script src="{{ url_for('static', filename='Scripts/SignPageHandler.js') }}"></script>
  </head>
  <body>
    <!-- Title -->
    <div class="header">
      <img
        src="{{ url_for('static', filename='Image/CovidAppIcon.png') }}"
        alt="The Icon of App"
        class="AppIcon"
      />
      <h2 class="AppTitle">Hummingbird</h2>
    </div>
    <!-- Body-->
    <div class="content">
      <div class="ImagePanel" style="width: 100%; height: 100%">
        <!-- image -->
        <img
          src="{{ url_for('static', filename='Image/introduce1.jpg') }}"
          alt="Introduce Image"
          class="ShowImage"
          id="show_image"
        />
        <!-- right image cover-->
        <div
          style="
            background: linear-gradient(to left, #c0ec9100, #c0ec91);
            position: absolute;
            top: 5em;
            left: 0em;
            width: 6em;
            height: 52em;
          "
        ></div>
        <!--left image cover-->
        <div
          style="
            background: linear-gradient(to right, #c0ec9100, #c0ec91);
            position: absolute;
            top: 5em;
            left: 114em;
            width: 6em;
            height: 52em;
          "
        ></div>
        <!-- image switch buttons-->
        <div
          class="ImageButtonPanel"
          style="position: relative; width: 10em; left: 35%; top: 47em"
          data-url="{{ url_for('static', filename='Image/introduce') }}"
          id="image_button_panel"
        >
          <button
            class="ImageButton"
            onclick="ChangeImageIndex(1)"
            id="image_button_1"
          >
            1
          </button>
          <button
            class="ImageButton"
            onclick="ChangeImageIndex(2)"
            id="image_button_2"
          >
            2
          </button>
          <button
            class="ImageButton"
            onclick="ChangeImageIndex(3)"
            id="image_button_3"
          >
            3
          </button>
        </div>
      </div>
      <!-- Sign in Panel, default-->
      <div class="Panel" id="sign_in_panel" style="display: grid">
        <!-- Panel title -->
        <h2 class="PanelTitle">Sign in</h2>
        <!-- Input Field -->
        <div class="InputContainer">
          <div class="InputComponent">
            <label for="username" class="InputLable">Username</label>
            <input
              type="text"
              id="username"
              name="username"
              class="InputField"
            />
            <!-- additional input field component, error massage and buttons-->
            <label class="InputInfo"></label>
          </div>
          <div class="InputComponent">
            <label for="password" class="InputLable">Password</label>
            <input
              type="text"
              id="password"
              name="password"
              class="InputField"
            />
            <!-- additional input field component, error massage and buttons-->
            <label class="InputInfo"></label>
            <button
              class="PanelSmallButton"
              onclick="SwitchPanel(2)"
              style="position: relative; top: 0.1em; left: 4em"
            >
              Forget Password
            </button>
          </div>
        </div>

        <!-- Button -->
        <button class="PanelLargeButton">Sign in</button>
        <button class="PanelSmallButton" onclick="SwitchPanel(1)">
          Create Account
        </button>
      </div>
      <!-- register panel -->
      <div class="Panel" id="register_panel" style="display: none">
        <h2 class="PanelTitle">Create Account</h2>
        <div class="InputContainer">
          <div class="InputComponent">
            <label for="username" class="InputLable">Username</label>
            <input
              type="text"
              id="username"
              name="username"
              class="InputField"
            />
            <!-- additional input field component, error massage and buttons-->
            <label class="InputInfo"></label>
          </div>
          <div class="InputComponent">
            <label for="email" class="InputLable">email</label>
            <input
              type="text"
              id="password"
              name="password"
              class="InputField"
            />
            <!-- additional input field component, error massage and buttons-->
            <label class="InputInfo"></label>
          </div>
          <div class="InputComponent">
            <label for="password" class="InputLable">Password</label>
            <input
              type="text"
              id="username"
              name="username"
              class="InputField"
            />
            <!-- additional input field component, error massage and buttons-->
            <label class="InputInfo"></label>
          </div>
          <div class="InputComponent">
            <label for="password2" class="InputLable">Confirm Password</label>
            <input
              type="text"
              id="username"
              name="username"
              class="InputField"
            />
            <!-- additional input field component, error massage and buttons-->
            <label class="InputInfo"></label>
          </div>
        </div>

        <button class="PanelLargeButton">Create Account</button>
      </div>
      <!-- forget password panel -->
      <div class="Panel" id="forget_password_panel" style="display: none">
        <h2 class="PanelTitle">Forget Password</h2>
        <div class="InputContainer">
          <div class="InputComponent">
            <label for="email" class="InputLable">email</label>
            <input
              type="text"
              id="password"
              name="password"
              class="InputField"
            />
            <!-- additional input field component, error massage and buttons-->
            <label class="InputInfo"></label>
          </div>
        </div>
        <button class="PanelLargeButton">Send Email</button>
      </div>
      <!-- reset password panel -->
      <div class="Panel" id="reset_password_panel" style="display: none">
        <h2 class="PanelTitle">Forget Password</h2>
        <div class="InputContainer">
          <div class="InputComponent">
            <label for="email" class="InputLable">reset code</label>
            <input type="text" id="email" name="password" class="InputField" />
            <!-- additional input field component, error massage and buttons-->
            <label class="InputInfo"></label>
          </div>
          <div class="InputComponent">
            <label for="email" class="InputLable">password</label>
            <input
              type="text"
              id="password"
              name="password"
              class="InputField"
            />
            <!-- additional input field component, error massage and buttons-->
            <label class="InputInfo"></label>
          </div>
          <div class="InputComponent">
            <label for="email" class="InputLable">reset password</label>
            <input
              type="text"
              id="password"
              name="password"
              class="InputField"
            />
            <!-- additional input field component, error massage and buttons-->
            <label class="InputInfo"></label>
          </div>
        </div>
        <button class="PanelLargeButton">Reset Password</button>
      </div>
    </div>
    <!-- Foot -->
    <div class="footer">
      <button class="TextButton">About us</button>
      <button class="TextButton">Covid-19 symptoms</button>
    </div>
  </body>
</html>
